@import "./assets/styles/variables.scss";

h5 {
  font-size: 1.1rem;
}

h2,
h3,
h4,
h5 {
  margin-top: 35px;
}

.api-main-doc-header,
.api-main-doc-header code {
  font-weight: 700;
}

.api-top-doc-header,
.api-top-doc-header code {
  padding-top: 0;
  margin-top: 1em;
}

h2 code,
h3 .api-nav-code,
h4 .api-nav-code,
h3 code,
h4 code {
  background: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.55rem;
  color: $black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0;
  margin: 0;
}

// h2 code, h3 code, h4 code, h5 code {
//   margin-right: -5px;
// }

h5 code {
  background: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: $black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0;
}

h6 code {
  background: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: $black;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding: 5px 0;
}
