@import "./assets/styles/variables.scss";

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: auto;
  min-height: calc(100vh - 116px);
  font-family: "Lato", sans-serif;
  color: $black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.container {
  position: relative;
  width: 100%;
  margin: 96px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.tutorial-markdown-window {
  position: relative;
  width: 100%;
  max-width: calc(100% - 370px);
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0;
}

.page-wrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 0 60px;
}

.bold {
  font-weight: 900;
}

.hide {
  display: none;
}

.hapi-header {
  margin: 10px 0;
  border-top: none;
  width: auto;
  font-weight: 700;
  font-size: 2.3rem;
}

.hapi-family-header {
  margin: 30px 0 10px 100px;
  border-top: none;
  width: auto;
  display: inline-block;
  font-weight: 700;
  font-size: 2rem;
  display: block;
}

.nav-display {
  display: block !important;
}

code + .copy-clipboard {
  margin-left: 0;
}

.copy-clipboard {
  position: relative;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px;
  background-image: url("/img/clipboard.png");
  background-size: contain;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s;

  &-absolute {
    position: absolute;
  }

  &:hover {
    opacity: 0.7;
  }

  &-checked {
    background-image: url("/img/clipboardCheck.png");
    opacity: 0.7;
  }
}

.spacer {
  display: block;
  width: 100%;
}

.highlight-source-js {
  position: relative;
}

.api-clipboardCheck {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px;
  opacity: 0.7;
  background: url("/img/clipboardCheck.png");
  background-size: contain;
  transition: all 0.2s;
}

.api-clipboard {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 0 0 5px;
  background: url("/img/clipboard.png");
  background-size: contain;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.2s;
}

.api-clipboard:hover {
  opacity: 0.7;
}

.api-version-span {
  font-weight: 400;
  font-size: 1.4rem;
}

.landing-hr {
  position: relative;
  left: -30px;
  height: 1px;
  background-color: $dark-white;
  width: calc(100% - 10px);
  margin: 0;
}

.preload {
  display: none;
}
@media screen and (max-width: 1500px) {
  .hapi-family-header {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  html,
  body {
    font-size: 14px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }

  :root {
    font-size: 14px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .tutorial-markdown-window {
    max-width: 100%;
    word-wrap: break-word;
  }

  .page-wrapper {
    padding: 0 20px;
  }

  .hapi-header {
    font-size: 2rem;
  }

  .hapi-family-header {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media print {
  .container {
    margin: 0;
    display: block;
  }
  .tutorial-markdown-window {
    max-width: 100%;
  }
}
