@import "./assets/styles/main.scss";

.markdown-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 100px 10px 100px;
  word-wrap: break-all;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.25rem;
}

h1, h2, h3, h4 {
  margin: 1rem 0;
}

h2 a::before, h3 a::before , h4 a::before, h5 a::before{
  display: block; 
  content: ""; 
  margin-top: -116px; 
  height: 116px; 
  visibility: hidden; 
  pointer-events: none;
}

h2 a,
h3 a {
  color: $black;
  cursor: auto;
}

code {
  font-family: "inconsolata", menlo, consolas, monospace;
  padding: 0.2rem 0.33rem;
  color: #6f6f6f;
  background-color: #f8f8f8;
}

.tutorial-markdown-window section {
  height: 100%;
}

a {
  cursor: pointer;
  color: $orange;
  text-decoration: none;
}

a:hover {
  color: $orange;
  text-decoration: underline;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: $black;
  line-height: 1.7rem;
}

  p code, li code {
  font-family: "inconsolata", menlo, consolas, monospace;
  padding: 0.2rem 0.33rem;
  color: #6f6f6f;
  background-color: #f3f3f3;
  border: 1px solid $dark-white;
}

pre p code {
  border: none;
}

li {
  margin-bottom: 20px;
  line-height: 1.7rem;
  list-style-type: disc;
}

ul {
  margin: 15px 0 15px 20px;
  padding: 0;
}

pre {
  border: 1px solid $dark-white;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.hljs-keyword, .pl-k {
  color: #d73a49;
}

.hljs-built_in, .pl-c1 {
  color: #009bdc;
}

.pl-c {
  color: #aaa
}

.hljs-attr, .pl-en {
  color: #6f42c1
}

@media screen and (max-width: 900px) {

  h2 a::before, h3 a::before {
    margin-top: -50px; 
    height: 50px; 
  }
  
  .markdown-wrapper {
    padding: 5px;
  }
}