@import './assets/styles/main.scss';

.markdown-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px 100px 10px 100px;
  word-wrap: break-all;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.25rem;
}

h2 a,
h3 a,
h4 a,
h5 a {
  display: block;
  position: relative;
  top: -116px;
  visibility: hidden;
}

a:focus {
  outline: none;
}

h2 a,
h3 a {
  color: $black;
  cursor: auto;
}

code,
.code {
  font-family: 'inconsolata', menlo, consolas, monospace;
  padding: 0.2rem 0.33rem;
  font-size: 1rem;
  color: $gray;
  background-color: #f8f8f8;
  // border: 1px solid $dark-white;
}

.tutorial-markdown-window section {
  height: 100%;
}

a {
  cursor: pointer;
  color: $orange;
  text-decoration: none;
}

a:hover {
  color: $orange;
  text-decoration: underline;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: $black;
  line-height: 1.7rem;
}

p code,
li code {
  font-family: 'inconsolata', menlo, consolas, monospace;
  padding: 0.2rem 0.33rem;
  color: #6f6f6f;
  background-color: #f3f3f3;
  border: 1px solid $dark-white;
}

pre {
  font-family: 'inconsolata', menlo, consolas, monospace;
  font-size: 1rem;
}

pre p code,
pre pre {
  border: none;
}

li {
  margin-bottom: 20px;
  line-height: 1.7rem;
  list-style-type: disc;
}

ul {
  margin: 15px 0 15px 20px;
  padding: 0;
}

pre {
  border: 1px solid $dark-white;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.hljs-keyword,
.pl-k {
  color: #d73a49;
}

.hljs-built_in,
.pl-c1 {
  color: #009bdc;
}

.pl-c {
  color: #aaa;
}

.hljs-attr,
.pl-en {
  color: #6f42c1;
}

@media screen and (max-width: 900px) {
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    top: -60px;
  }

  p,
  li {
    line-height: 2rem;
    font-size: 16px;
  }

  pre {
    font-size: 15.25px;
  }

  .markdown-wrapper {
    padding: 5px;
  }
}

@media print {
  .markdown-wrapper {
    padding: 0;
  }
}
