@import "../../assets/styles/main.scss";

.side-nav-window {
  position: sticky;
  top: 96px;
  bottom: 0;
  width: 370px;
  min-width: 370px;
  max-height: calc(100vh - 96px);
  min-height: calc(100vh - 96px);
  overflow-y: auto;
  padding: 20px 20px 10px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f8f8f8;
  border-right: 1px solid #ddd;
}

.side-nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  min-height: calc(100% - 26px);
  box-sizing: border-box;
}

.side-nav-title {
  font-size: 1.5rem;
  color: $black;
  margin: 0;
}

.side-nav-select-wrapper {
  margin-top: 20px;
  font-size: 1.1em;
  color: $orange;
  line-height: 30px;
  width: 100%;
}

.side-nav-select-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.side-nav-select-link {
  cursor: pointer;
  margin: 0 auto 0 0;
  list-style-type: none;
}

.side-nav-select-link:hover {
  color: $orange;
  text-decoration: underline;
}

.side-nav-active {
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .side-nav-window {
    display: none;
  }
}