@import "../../assets/styles/main.scss";

.side-nav-window {
  position: sticky;
  top: 96px;
  bottom: 0;
  width: 370px;
  min-width: 370px;
  max-height: calc(100vh - 96px);
  min-height: calc(100vh - 96px);
  overflow-y: auto;
  padding: 20px 20px 10px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: $off-white;
  border-right: 1px solid $dark-white;
}

.side-nav-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 140px);
  box-sizing: border-box;
}

.side-nav-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10px;
}

.side-nav-title {
  font-size: 1.5rem;
  color: $black;
  margin: 0;
}

.lang-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 0 0;
  width: 100%;
}

.lang-text {
  margin: 0 33px 0 0;
  font-size: 1.1em;
}

select {
  width: 100px;
  padding: 0px 5px 0px 5px;
  border: 1px solid $dark-white;
  height: 30px;
  font-size: 0.9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/img/down.png) 96% / 15% no-repeat #fff;
  cursor: pointer;
}

.side-nav-select-wrapper {
  margin-top: 20px;
  font-size: 1.1em;
  color: $orange;
  line-height: 30px;
  width: 100%;
}

.side-nav-select-list {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.side-nav-select-link {
  cursor: pointer;
  margin: 0 auto 0 0;
  list-style-type: none;
}

.side-nav-select-link:hover {
  color: $orange;
  text-decoration: underline;
}

.side-nav-active {
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .side-nav-window {
    flex-direction: row;
    position: relative;
    top: 0;
    min-height: auto;
    max-height: auto;
    border-right: none;
    border-bottom: 1px solid $dark-white;
    width: 100%;
  }

  .side-nav-wrapper {
    min-height: auto;
  }

  .side-nav-select-list {
    display: inline-block;
  }

  .side-nav-select-link {
    display: inline-block;
  }

  .side-nav-select-wrapper, .api-nav-select-wrapper {
    display: none;
  }

}