/* Colors */
$orange: #ed7d31;
$black: #333;
$blacker: #222;
$blackest: #111;
$off-white: #f8f8f8;
$dark-white: #ddd;
$light-gray: #ccc;
$ash: #aaa;
$quote-gray: #f3f3f3;
$quote-gray-dark: #3a3a3a;
$gray: #6f6f6f;
$gray-light: lighten($gray, 35%);
$white: #ffffff;